<template>
  <div class="row">
    <div class="col-md-12" style="">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div id="loginForm" class="card">
          <div class="card-header">
            <h4>Вход</h4>
          </div>
          <div class="card-body">
            <form action="#" novalidate class="md-layout" @submit.prevent="login" autocomplete="off">
              <div class="form-group">
                <label class="control-label">
                  Email
                </label>
                <input class="form-control" type="email" name="email" id="email" autocomplete="email" v-model="email" />
              </div>
              <div class="form-group">
                <label class="control-label">
                  Пароль
                </label>
                <input class="form-control" type="password" name="password" id="password" v-model="password" />
              </div>
              <div class="text-center m-b-5">
                <button type="submit" class="btn btn-round btn-info">
                  Войти
                </button>
              </div>
              <br>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  data () {
    return {
      email: null,
      password: null,
      progressBar: false
    }
  },
  methods: {
    login () {
      this.progressBar = true
      delete axios.defaults.headers['Authorization']
      axios.post(window.backhost + 'auth/login/', {
        'email': this.email,
        'password': this.password
      }).then(jsonData => {
        if (jsonData.data.res === 0) {
          console.log(jsonData.data.error)
        } else {
          console.log(jsonData)
          this.$store.dispatch('updateUser', jsonData.data.user)
          localStorage.token = jsonData.data.token
          this.progressBar = false
          if (this.$store.getters.getDefaultPage) {
            this.$router.push('/' + this.$store.getters.getDefaultPage)
          } else {
            this.$router.push('/reports')
          }
        }
      }).catch(e => {
        console.log(e)
      })
    }
  },
  created () {
    axios.defaults.headers['Authorization'] = 'Token ' + localStorage.token
    axios.get(window.backhost + 'api/profile/').then(jsonData => {
      if (jsonData.status === 200) {
        this.$store.dispatch('updateUser', jsonData.data.results[0])
        this.progressBar = false
        this.$router.push('/' + this.$store.getters.getDefaultPage)
      } else {
        this.$router.push('/login')
      }
    }).catch(e => {
      this.$router.push('/login')
    })
  },
  computed: {}
}

</script>

<style scoped>
  #loginForm{
    margin-top: 10%;
    display: block;
    padding: 1% 20px;
    border: 1px solid #B17FD144;
  }
</style>
